<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
    <h1>User Deletion Page</h1>
    <%- include('./partials/nav.ejs') %>
    <p>Your user information has now been deleted</p>
    <p>If you would like to use our service again, please re-register by clicking on our registration link</p>
    <br>
    <a href="/user/edit">Edit</a>
    <a href="/user/delete">Delete</a>
    <br>
    <br>
    <br>
    <%- include('./partials/auth.ejs') %>
    <br>
    <br>
    <%- include('./partials/foot.ejs') %>
</html>