<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
    <h1>User Info Page</h1>
    <%- include('./partials/nav.ejs') %>
    <p>Please select Edit or Delete</p>
    <br>
    <a href="/user/edit">Edit</a>
    <a href="/user/delete">Delete</a>
    <br>
    <br>
    <br>
    <%- include('./partials/auth.ejs') %>
    <br>
    <br>
    <%- include('./partials/foot.ejs') %>
</html>