<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

<a href="/user/edit">Edit</a>
<br>
    <br>
    <%- include('./partials/auth.ejs') %>
    <br>
    <br>
    <%- include('./partials/foot.ejs') %>
</html>